body{
  background-image: url('https://cdn.hipwallpaper.com/i/60/97/HMAokN.jpg');
   background-size:auto 100%;
  background-repeat:no-repeat;
}
#head{
  
  border-radius: 15px;
  text-align:center;
  position:relative;
  top: -80px;
  margin: 170px;
  color:#c9bfbf;
  opacity:100%;
}
#title{
  font-size: 40px;
}
#description{
  font-size: 18px;
}
#main{
  background-color: #262424;
  border-radius: 15px;
  text-align:left;
  height:1040px;
  position:relative;
  top: -200px;
  left: 433px;
  width: 40%;
  color:#c9bfbf;
  opacity:95%;
}
#survey-form{
  position:relative;
  left: 30px;
  font-size: 20px;
  opacity:100%;
}
input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 90%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}